<!DOCTYPE html>
<html>

<head>
    <title>Lost and Found Outerwear</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/9e485ac24b.js" crossorigin="anonymous"></script>
</head>

<body>

    <!--Navigation Bar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-danger">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link text-light ms-5"
                        href="http://homer.stuy.edu/~tacuna20/stuylostandfound/templates/home.html">Home</a></li>
                <li class="nav-item active"><a class="nav-link text-light ms-5 {% if category == 'outerwear' %} activated {% endif %}"
                        href="http://homer.stuy.edu/~tacuna20/stuylostandfound/templates/outerwear.html"><i
                            class="fa-solid fa-shirt"></i>
                        Outerwear</a></li>
                <li class="nav-item active"><a class="nav-link text-light ms-5 {% if category == 'gloveshatsscarves' %} activated {% endif %}"
                        href="http://homer.stuy.edu/~tacuna20/stuylostandfound/templates/gloveshatsscarves.html"><i
                            class="fa-solid fa-mitten"></i> Gloves, Hats, and
                        Scarves</a></li>
                <li class="nav-item active"><a class="nav-link text-light ms-5 {% if category == 'personalschoolsupplies' %} activated {% endif %}"
                        href="http://homer.stuy.edu/~tacuna20/stuylostandfound/templates/personalschoolsupplies.html"><i
                            class="fa-solid fa-clipboard"></i> Personal School
                        Supplies</a></li>
                <li class="nav-item active"><a class="nav-link text-light ms-5 {% if category == 'bookspapers' %} activated {% endif %}"
                        href="http://homer.stuy.edu/~tacuna20/stuylostandfound/templates/bookspapers.html"><i
                            class="fa-solid fa-book"></i> Books, Textbooks,
                        and
                        Papers</a></li>
                <li class="nav-item active"><a class="nav-link text-light ms-5 {% if category == 'smallitems' %} activated {% endif %}"
                        href="http://homer.stuy.edu/~tacuna20/stuylostandfound/templates/smallitems.html"><i
                            class="fa-solid fa-id-card"></i> Small Items (Room
                        209)</a>
                </li>

                </form>
        </div>
    </nav>

    <div class="container mb-3 mt-4 mb-4">
        <h2 class="fw-light">Outerwear</h2>
    </div>

    <!-- Catalogue -->
    <h3 class="text-danger fw-light text-center">Lost Items</h3>

    <!-- Catalogue Table -->
    <div class=main>
        <p>
        <table style="width:100%;font-family:Trebuchet MS;">
            <tr style="background-color:#f0f0f0">
                <th>Image</th>
                <th>Date Catalogued</th>
                <th>Description</th>
                <th>Object Store Page</th>
            </tr>
            <tr>
                <td><img src="../static/permanentimages/outerwear2a.jpg" width="150" height="200" alt="outerwear2a">
                    <img src="../static/permanentimages/outerwear2b.jpg" width="150" height="200" alt="outerwear2b">
                </td>
                <td>3/7/22</td>
                <td>Black puffer jacket, Uniqlo</td>
                <td><a class="uHover" href="https://www.uniqlo.com/us/en/men-ultra-light-down-parka-443320.html">Men
                        Ultra Light Down Parka (09 Black)</a></td>
            </tr>
            <tr>
                <td><img src="../static/permanentimages/outerwear3a.jpg" width="150" height="200" alt="outerwear3a">
                    <img src="../static/permanentimages/outerwear3b.jpg" width="150" height="200" alt="outerwear3b">
                </td>
                <td>3/7/22</td>
                <td>Light gray fleece, Old Navy</td>
                <td><a class="uHover"
                        href="https://oldnavy.gap.com/browse/product.do?pid=645935#pdp-page-content">Dynamic Fleece
                        Full-Zip Hoodie for Men</a></td>
            </tr>
            <tr>
                <td><img src="../static/permanentimages/outerwear4a.jpg" width="150" height="200" alt="outerwear4a">
                    <img src="../static/permanentimages/outerwear4b.jpg" width="150" height="200" alt="outerwear4b">
                </td>
                <td>3/7/22</td>
                <td>1/4 Zip Black Faux Fur Hoodie, Moret</td>
                <td>TBD</td>
            </tr>
            <tr>
                <td><img src="../static/permanentimages/outerwear6a.jpg" width="150" height="200" alt="outerwear6a">
                    <img src="../static/permanentimages/outerwear6b.jpg" width="150" height="200" alt="outerwear6b">
                </td>
                <td>3/7/22</td>
                <td>Blue sweatpants in HRC plastic bag</td>
                <td>TBD</td>
            </tr>
            <tr>
                <td><img src="../static/permanentimages/outerwear7a.jpg" width="150" height="200" alt="outerwear7a">
                    <img src="../static/permanentimages/outerwear7b.jpg" width="150" height="200" alt="outerwear7b">
                </td>
                <td>3/8/22</td>
                <td>Black zippered hoodie</td>
                <td>TBD</td>
            </tr>
            <tr>
                <td><img src="../static/permanentimages/outerwear11a.jpg" width="150" height="200" alt="outerwear11a">
                    <img src="../static/permanentimages/outerwear11b.jpg" width="150" height="200" alt="outerwear11b">
                </td>
                <td>3/10/22</td>
                <td>Blue striped hoodie, Smog</td>
                <td>TBD</td>
            </tr>
            <tr>
                <td><img src="../static/permanentimages/outerwear12a.jpg" width="150" height="200" alt="outerwear12a">
                    <img src="../static/permanentimages/outerwear12b.jpg" width="150" height="200" alt="outerwear12b">
                </td>
                <td>3/16/22</td>
                <td>Dark blue puffer jacket, Uniqlo</td>
                <td>TBD</td>
            </tr>
            <tr>
                <td><img src="../static/permanentimages/outerwear13a.jpg" width="150" height="200" alt="outerwear13a">
                    <img src="../static/permanentimages/outerwear13b.jpg" width="150" height="200" alt="outerwear13b">
                </td>
                <td>3/16/22</td>
                <td>Light brown puffer jacket</td>
                <td>TBD</td>
            </tr>
            <tr>
                <td><img src="../static/permanentimages/outerwear19.jpg" width="150" height="200" alt="outerwear19">
                </td>
                <td>3/28/22</td>
                <td>Stuyvesant gym jogging pants</td>
                <td>TBD</td>
            </tr>
            <tr>
                <td><img src="../static/permanentimages/outerwear14a.jpg" width="150" height="200" alt="outerwear14a">
                    <img src="../static/permanentimages/outerwear14b.jpg" width="150" height="200" alt="outerwear14b">
                </td>
                <td>3/17/22</td>
                <td>Blue-red puffer jacket, Tommy Hilfiger</td>
                <td>(This damn thing has been in and out the Lost and Found 4 times already.)</td>
            </tr>
        </table>
        </p>
    </div>
    <br><br><br>

    <!-- Found Items -->
    <h3 class="text-danger fw-light text-center">Found Items</h3>

    <!-- Found Items Table -->
    <div class=main>
        <p>
        <table style="width:100%;font-family:Trebuchet MS;">
            <tr style="background-color:#f0f0f0">
                <th>Image</th>
                <th>Date Catalogued</th>
                <th>Description</th>
                <th>Object Store Page</th>
            </tr>
            <tr>
                <td><br><img src="../static/permanentimages/outerwear5a.jpg" width="150" height="200" alt="outerwear5a">
                    <img src="../static/permanentimages/outerwear5b.jpg" width="150" height="200" alt="outerwear5b">
                </td>
                <td>3/7/22</td>
                <td>White hoodie with design</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td><img src="../static/permanentimages/outerwear8a.jpg" width="150" height="200" alt="outerwear8a">
                    <img src="../static/permanentimages/outerwear8b.jpg" width="150" height="200" alt="outerwear8b">
                </td>
                <td>3/8/22</td>
                <td>Purple hoodie, Try Guys</td>
                <td><a class="uHover" href="https://poshmark.com/listing/Try-Guys-hoodie-5cb36015afade855b41a309b">Try
                        Guys Hoodie</a></td>
            </tr>
            <tr>
                <td><img src="../static/permanentimages/outerwear9.jpg" width="150" height="200" alt="outerwear9">
                </td>
                <td>3/8/22</td>
                <td>Red plaid pajama pants, Stars Above</td>
                <td><a class="uHover"
                        href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwij2tX8_bf2AhUqTXIKHc6yCYcYABAJGgJxdQ&ohost=www.google.com&cid=CAESWuD29Iae_8s4mNzeoqvyjBWfofgwF2FBmzMwHZl6rQJ142TFi31N_9bhErCFdaxQVJzyOgSYvdlOJmuXCW_8WgrRm3h9LyKbzkZIcB6WwDIw7xmJY4kdc6ipSw&sig=AOD64_2k89CSEzAcdp0w8JRLrFVBppW2aA&ctype=5&q=&ved=2ahUKEwjWw8n8_bf2AhV6lYkEHflxDPQQ9aACegQIARBM&adurl=">Women's
                        Perfectly Cozy Flannel Plaid Pajama Pants</a></td>
            </tr>
            <tr>
                <td><img src="../static/permanentimages/outerwear10.jpg" width="150" height="200" alt="outerwear10">
                </td>
                <td>3/8/22</td>
                <td>Black leggings, Uniqlo</td>
                <td><a class="uHover" href="https://www.uniqlo.com/us/en/women-heattech-leggings-444145.html">Uniqlo
                        Women Heattech Leggings</a></td>
            </tr>
            <tr>
                <td><br><img src="../static/permanentimages/outerwear1a.jpg" width="150" height="200" alt="outerwear1a">
                    <img src="../static/permanentimages/outerwear1b.jpg" width="150" height="200" alt="outerwear1b">
                </td>
                <td>3/7/22</td>
                <td>Dual-layer raincoat, Weatherproof</td>
                <td>TBD</td>
            </tr>
            <tr>
                <td><img src="../static/permanentimages/outerwear2a.jpg" width="150" height="200" alt="outerwear2a">
                    <img src="../static/permanentimages/outerwear2b.jpg" width="150" height="200" alt="outerwear2b">
                </td>
                <td>3/7/22</td>
                <td>Black puffer jacket, Uniqlo</td>
                <td><a class="uHover" href="https://www.uniqlo.com/us/en/men-ultra-light-down-parka-443320.html">Men
                        Ultra Light Down Parka (09 Black)</a></td>
            </tr>
            <tr>
                <td><img src="../static/permanentimages/outerwear15a.jpg" width="150" height="200" alt="outerwear15a">
                    <img src="../static/permanentimages/outerwear15b.jpg" width="150" height="200" alt="outerwear15b">
                </td>
                <td>3/24/22</td>
                <td>Black hoodless puffer jacket, Uniqlo</td>
                <td>TBD</td>
            </tr>
            <tr>
                <td><img src="../static/permanentimages/outerwear17.jpg" width="150" height="200" alt="outerwear17">
                </td>
                <td>3/28/22</td>
                <td>Friends t-shirt</td>
                <td>TBD</td>
            </tr>
            <tr>
                <td><img src="../static/permanentimages/outerwear16a.jpg" width="150" height="200" alt="outerwear16a">
                    <img src="../static/permanentimages/outerwear16b.jpg" width="150" height="200" alt="outerwear16b">
                </td>
                <td>3/24/22</td>
                <td>White hoodie, Uniqlo</td>
                <td>TBD</td>
            </tr>
            <tr>
                <td><img src="../static/permanentimages/outerwear020a.jpg" width="150" height="200" alt="outerwear020a">
                    <img src="../static/permanentimages/outerwear020b.jpg" width="150" height="200" alt="outerwear020b">
                </td>
                <td>3/31/22</td>
                <td>Black jacket, Ralph Lauren</td>
                <td>TBD</td>
            </tr>
            <tr>
                <td><img src="../static/permanentimages/outerwear18a.jpg" width="150" height="200" alt="outerwear18a">
                    <img src="../static/permanentimages/outerwear18b.jpg" width="150" height="200" alt="outerwear18b">
                </td>
                <td>3/28/22</td>
                <td>Black hoodie, Stuyvesant merch</td>
                <td>TBD</td>
            </tr>
        </table>
        </p>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>
